<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-spacing: 30px;
        }
      </style>
</head>
<body>
    <div>
        <% values.forEach(function(value) { %>
            <p><%= value %></p>
        <% }); %>
    </div>
</body>
</html>